<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt0N3SKwtlM8R0j2x4NAfvrUC9OUbegT0</string>
	<key>GCM_SENDER_ID</key>
	<string>360399391509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yth.ytc</string>
	<key>PROJECT_ID</key>
	<string>clone-20cce</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-20cce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360399391509:ios:a2f8ddf39bc0ddb40ff71c</string>
</dict>
</plist>